<head>
  <title>About Us</title>
</head>


    <div id="aboutus">
        <div style="display: block; text-align: center">
             <h2><b>Tentang Kami</b></h2>
        </div>
        <div style="display: block; text-align: center" class="">
            <div class="container-fluid">
                <img style="width: 300px; height: 300px; box-shadow: 10px 10px 5px grey" class="rounded" src="./assets/images/1.png" alt="">
                <img style="width: 300px; height: 300px; box-shadow: 10px 10px 5px grey" class="rounded" src="./assets/images/2.png" alt="">
            </div>
            <div class="container-fluid">
                <img style="width: 300px; height: 300px; box-shadow: 10px 10px 5px grey" class="rounded" src="./assets/images/3.png" alt="">
                <img style="width: 300px; height: 300px; box-shadow: 10px 10px 5px grey" class="rounded" src="./assets/images/4.png" alt="">
            </div>
        </div>
      <div class="container-fluid">
        <footer>
          <br><br>
          <p style="display: block; text-align: center">~~Gitar ku petik, bass ku betot. inilah 4 orang keren dunia
            menurut On The Spot~~</p>
          <br>
          <p style="text-align: center; font-weight:bold;">#BukanMaen</p><br>
        </footer>
      </div>
    </div>