<!--ngx-loading-bar></!--ngx-loading-bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" routerLink="">
      <img src="/assets/images/Logo HHZ Media.png" alt="" width="200" height="100">
    </a>
  <!--a class="navbar-brand" routerLink="">HHZmedia</!--a-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Beranda<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Kategori
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="#" routerLink="technology">Teknologi<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#" routerLink="health">Kesehatan<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#" routerLink="science">Sains<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#" routerLink="business">Bisnis<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#" routerLink="sport">Olahraga<span class="sr-only">(current)</span></a>
        </div>
      </li>
      <li class="nav-item dropdown nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          International
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="#" routerLink="amerika">United States(US)<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#" routerLink="korea">Korea(KR)<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#" routerLink="uk">British(UK)<span class="sr-only">(current)</span></a>
        </div>
      </li>
      <li class="nav-item active">
      <a class="nav-link" routerLink="aboutus">Tentang Kami<span class="sr-only">(current)</span>
      </a>
        <!-- <app-search></app-search> -->
    </li>
    </ul>
    <form action="/search" method="get" class="form-inline mr-5">
      <input type="text" name="q" class="form-control mr-3">
      <input type="submit" value="Cari" class="btn btn-danger inline">
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="mt-3">
  <p class="text-center">&copy; 2021 HHZmedia</p>
</footer>

<script>



</script>
